<div class="LoginPanel" v-el:panel>

    <form class="login-panel-form login-form" @submit.stop.prevent="login">
        <img class="u-full-width" src="https://s3-eu-west-1.amazonaws.com/com-a2zcloud-assets/images/logo/a2zcloud.svg" v-el:logo/>

        <input class="u-full-width" type="text" placeholder="username" name="username" v-model="username" v-el:username />

        <input class="u-full-width" type="password" name="password" placeholder="password" v-model="password" />

        <button class="button button-primary u-full-width" type="submit">Sign In</button>
    </form>

    <div class="error" v-if="error_message"> {{error_message}} </div>

</div>
