@import "/jspm_packages/npm/fullcalendar@2.5.0/dist/fullcalendar.min.css";


.CalendarPanel {
    height: 100%;
}

.CalendarPanel
.title-caret {
    padding: 5px;
}

.CalendarPanel
.calendar-header {
    background-color: #D25858;
    color: white;

    border-right: 1px solid #B02727;
}

.CalendarPanel
.calendar-header i:hover {
    color: #B02727;
}

.CalendarPanel
.calendar-header .selected-view {
    color: #B02727;
}

.CalendarPanel
.calendar-title {
    text-align: center;
    min-width: 200px;
}

.CalendarPanel
.view-options {
    padding-right: 20px;
}

.CalendarPanel
.view-options .fa-align-justify {
            transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}

.CalendarPanel
#calendar table {
    margin-bottom: 0;
}

.CalendarPanel
thead {
    border-color: #F1F1F1;
}

.CalendarPanel
th {
    font-weight: inherit;
}


/* Full Calendar styling */
.CalendarPanel
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #F1F1F1;
}

.CalendarPanel
.fc-today {
    background-color: #FFF3F2;
}

.CalendarPanel
.fc-month-view .fc-title-today {
    color: inherit;
    font-weight: inherit;
}

.CalendarPanel
.fc-agendaDay-view .fc-today {
    background-color: transparent;
}

.CalendarPanel
.fc-title-today {
    color: #D25858;
    font-weight: 400;
}

.CalendarPanel
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
    background-color: #F1F1F1;
}
