<!-- TemplateName -->
<div class="CalendarPanel" v-el:panel>
    <!-- Content -->
    <div id="calendar-panel-title" class="list-header calendar-header u-full-width" v-if="calendar" v-el:header>
        <span class="navigation">
            <i  class="fa fa-fw fa-caret-left no-select cursor-pointer title-caret transition-base"
               @click="page('prev')"></i>

            <h4 class="calendar-title"> {{ display_title }} </h4>

            <i class="fa fa-fw fa-caret-right no-select cursor-pointer title-caret transition-base"
               @click="page('next')"></i>
        </span>

        <span class="settings pull-right no-select">
            <i class="fa fa-fw fa-cog cursor-pointer transition-base"></i>
        </span>

        <span class="view-options pull-right no-select">
            <i  class="fa fa-fw fa-th cursor-pointer transition-base"
               :class="{'selected-view': view_name == 'month' }"
               @click="change_view('month')"></i>

            <i  class="fa fa-fw fa-th-large cursor-pointer transition-base"
               :class="{'selected-view': view_name == 'agendaWeek'}"
               @click="change_view('agendaWeek')"></i>

            <i  class="fa fa-fw fa-square cursor-pointer transition-base"
               :class="{'selected-view': view_name == 'agendaDay'}"
               @click="change_view('agendaDay')"></i>
        </span>
    </div>
    <div id="calendar" v-el:calendar></div>
</div>
