.ResourcesPanel {
    position: relative;
    background-color: #F1F1F1;
    height: 100%;
}

.ResourcesPanel
.panel-title {
    position: absolute;
    right: 110px;
    left: 16px;
}

.ResourcesPanel
.action-bar {
    width: 90px;

    text-align: right;
    cursor: default;
}

.ResourcesPanel
.panel-title
.title-text {
    max-width: 50%;
}

.ResourcesPanel
.action-container {
    display: inline-block;
    min-width: 26px;
    text-align: center;
}

.ResourcesPanel
.action-bar-button {
    color: white; /*#E8ABAB;*/
    cursor: pointer;

    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
}

.ResourcesPanel
.action-bar-button:hover {
    color: #B02727;
}

.ResourcesPanel
.search-action {}

.ResourcesPanel
input.action-bar-search {
    height: 100%;

    background-color: transparent;
    border-color: white;
    margin: 0 0 0 10px;
    padding: 0;

    font-weight: 100;
    font-size: 16px;

    vertical-align: middle;
    line-height: 32px;
}


.action-bar-search::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.7;
}


.action-bar-search:-moz-placeholder { /* Firefox 18- */
    color: white !important;
    opacity: 0.7;
}


.action-bar-search::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
    opacity: 0.7;
}


.action-bar-search:-ms-input-placeholder {
    color: white !important;
    opacity: 0.7;
}

.ResourcesPanel
.resource-item {
    font-size: 16px;
    cursor: pointer;

    border-color: #F1F1F1;
    background-color: white;
}

.ResourcesPanel .resource-button {
    display: none;
}

.ResourcesPanel
.resource-item:hover .resource-button {
    display: block;
}

.ResourcesPanel
.resource-item:hover {
    background-color: #FFF3F2;
}

.ResourcesPanel
.list-body ul li .resource-item.selected {
    background-color: #FFF3F2;
    font-weight: bold;
}

.ResourcesPanel .info-button,
.ResourcesPanel .edit-button {
    font-size: 16px;
    color: #D25858;

    cursor: pointer;

    border-radius: 16px;
    line-height: 20px;

    margin-top: 3px;
}

.ResourcesPanel .info-button:hover,
.ResourcesPanel .edit-button:hover {
    color: white;
    background-color: #D25858; /*#6a3535;*/
}

.ResourcesPanel
.edit-button {
    margin-right: 5px;

    padding: 0px 2px;
    font-size: 14px;
}
