.ResourcesPanel {
    position: relative;
    background-color: #F1F1F1;
    height: 100%;
}

.ResourcesPanel
.panel-title {
    position: absolute;
    right: 110px;
    left: 16px;
}

.ResourcesPanel
.action-bar {
    width: 90px;

    text-align: right;
    cursor: default;
}

.ResourcesPanel
.panel-title
.title-text {
    max-width: 50%;
}

.ResourcesPanel
.action-container {
    display: inline-block;
    min-width: 26px;
    text-align: center;
}

.ResourcesPanel
.action-bar-button {
    color: white; /*#E8ABAB;*/
    cursor: pointer;

    -webkit-transition: 0.3s ease;
       -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
         -o-transition: 0.3s ease;
            transition: 0.3s ease;
}

.ResourcesPanel
.action-bar-button:hover {
    color: #B02727;
}

.ResourcesPanel
.search-action {}

.ResourcesPanel
input.action-bar-search {
    height: 100%;

    background-color: transparent;
    border-color: white;
    margin: 0 0 0 10px;
    padding: 0;

    font-weight: 100;
    font-size: 16px;

    vertical-align: middle;
    line-height: 32px;
}

.ResourcesPanel
.action-bar-search::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.7;
}

.ResourcesPanel
.action-bar-search:-moz-placeholder { /* Firefox 18- */
    color: white !important;
    opacity: 0.7;
}

.ResourcesPanel
.action-bar-search::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
    opacity: 0.7;
}

.ResourcesPanel
.action-bar-search:-ms-input-placeholder {
    color: white !important;
    opacity: 0.7;
}

.ResourcesPanel
.list-body {
    overflow: hidden;
}

.ResourcesPanel
.list-body
.action-sub-bar {
    height: 0px;
    padding: 0px 16px;
    background: #FFF;
    border-bottom: 2px solid #B02727;

    -webkit-transition: all .3s ease; /* Safari */
            transition: all .3s ease;
}

.ResourcesPanel
.list-body
.action-sub-bar.expanded {
    height: 26px;
    padding: 8px 16px;
}

.ResourcesPanel
.list-body
.action-sub-bar.expanded
.sub-bar-contents {
    height: 100%;
    width: 100%;
}

#Scheduler
.ResourcesPanel
.list-body
.list-container {
    background: transparent;
}

#Scheduler
.ResourcesPanel
.list-body
.list-container.condensed {
    height: 90%;
}

#Scheduler
.ResourcesPanel
.list-body ul.list-container,
.list-body ul.list-container li {
    -webkit-transition: height .3s ease; /* Safari */
            transition: height .3s ease;
}

#Scheduler
.ResourcesPanel
.list-body ul.list-container
li.editing {
    height: 100%;
    padding: 0px;
    border-left: 0px;
    box-sizing: border-box;
    font-weight: normal;
}

#Scheduler
.ResourcesPanel
.list-container
.editing:hover {
    background: #FFF;
}

#Scheduler
.ResourcesPanel
.list-container
.editing .expand-item {
    width: 100%;
    height: 100%;
    overflow: auto;

    /* TODO: MOVE TO PANEL CSS */
    padding: 8px 16px;
    box-sizing: border-box;
}
