
<div class="ResourcesPanel" v-el:panel>

    <div class="list-header u-full-width" v-el:header>
        <span id="resource-panel-title" class="panel-title">
            <input
                v-el:search
                class="action-bar-search pull-right"
                type="text"
                v-if="state == states.SEARCH"
                transition="expand-horizontal-fade"
                v-model="search_query"
                placeholder="search"
                @keyup.esc="search_query ? search_query = '' : state = states.NORMAL">
            <span class="action-container search-action pull-right">
                <i  id="resource-panel-search-button"
                    class="action-bar-button fa fa-search fa-fw"
                    v-if="state != states.INSERT && state != states.EDITOR"
                    transition="fade"
                    @click="search_button_clicked()"></i>
            </span>

            <h4 class="title-text" v-if="state != states.SEARCH" transition="expand-horizontal-fade"> {{ title }} </h4>
        </span>
        <span class="action-bar no-select pull-right">
            <span class="action-container">
                <i  id="resource-panel-filter-button"
                    class="action-bar-button fa fa-filter fa-fw"
                    v-if="state != states.INSERT && state != states.EDITOR"
                    transition="fade"
                    @click="filter_button_clicked()"></i>
            </span>

            <span class="action-container">
                <i  id="resource-panel-sort-button"
                    :class="['action-bar-button', 'fa', 'fa-fw', sort_order == 1 ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc']"
                    v-if="state != states.INSERT && state != states.EDITOR"
                    transition="fade"
                    @click="sort_order *= -1"></i>
            </span>

            <span class="action-container">
                <i  id="resource-panel-plus-button"
                    class="action-bar-button fa fa-plus fa-fw rotate-45"
                    @click="plus_button_clicked()"
                    :class="{'rotate-45-enter': state != states.NORMAL}"></i>
            </span>
        </span>
    </div>
    <div id="resource-panel-list" class="list-body u-full-width" v-el:list>
        <div class="action-sub-bar"
             :class="{'expanded':action_sub_bar_active}"
             v-el:sub-bar>
             <div class="sub-bar-contents"
                  v-if="action_sub_bar_active"
                  transition="fade">
                 Add panel here...
             </div>
        </div>
        <ul class="list-container" v-el:list-container>
            <li v-for="resource in display_resources"
                class="list-item no-select"
                :class="{'selected': selected_resources.indexOf(resource) != -1, 'editing': resource == editing_resource}"
                draggable="true"
                v-on:dragstart="drag_start(resource)"
                v-on:dragend="selected_resources.empty()"
                @click.stop="select_resource(resource, null, $event)">

                <div class="list-item-button pull-right"
                      v-if="resource != editing_resource"
                      @click.stop="edit_button_clicked($index, resource, $event)">Edit</div>

                <span class="list-item-text"
                      v-if="resource != editing_resource">
                    {{ resource.name }}
                </span>

                <div class="expand-item"
                     v-if="resource == editing_resource"
                     transition="fade">
                    <div>Add panel here...</div>
                </div>
            </li>
        </ul>


        <div v-if="state == states.INSERT" transition="shade"></div>
        <div v-if="state == states.INSERT" transition="drop-down">
            <insert-resource-panel
                :calendar="calendar"
                v-on:completed="handle_insert_completion"></insert-resource-panel>
        </div>
    </div>

</div>
