
<div class="ResourcesPanel">

    <div class="list-header u-full-width">
        <span id="resource-panel-title">
            <h4> {{ title }} </h4>
        </span>
        <span class="action-bar pull-right no-select">
            <i  id="resource-panel-search-button"
                class="action-bar-button fa fa-search fa-fw"
                v-if="!display_insert"
                transition="fade"></i>

            <i  id="resource-panel-filter-button"
                class="action-bar-button fa fa-filter fa-fw"
                v-if="!display_insert"
                transition="fade"></i>

            <i  id="resource-panel-sort-button"
                class="action-bar-button fa fa-sort-alpha-desc fa-fw"
                v-if="!display_insert"
                transition="fade"></i>

            <i  id="resource-panel-plus-button"
                class="action-bar-button fa fa-plus fa-fw"
                @click="toggle_insert()"
                :class="{'rotate-45-enter': display_insert}"></i>
        </span>
    </div>
    <div id="resources-panel-list" class="list-body u-full-width">
        <ul>
            <li v-for="resource in display_resources"
                class="resource-item no-select"
                :class="{'selected': selected_resources.indexOf(resource) != -1}"
                draggable="true"
                @click="select_resource(resource)" >

                <span class="list-item-text"> {{ resource.name }} </span>
                <span class="resource-button info-button pull-right" >
                    <i class="fa fa-info fa-fw"></i>
                </span>
                <span class="resource-button edit-button pull-right" >
                    <i class="fa fa-pencil fa-fw"></i>
                </span>
            </li>
        </ul>


        <div v-if="display_insert" transition="shade"></div>
        <div v-if="display_insert" transition="drop-down">
            <insert-resource-panel
                :calendar="calendar"
                v-on:completed="handle_insert_completion"></insert-resource-panel>
        </div>
    </div>

</div>
