.EventsPanel {
    position: relative;
    background-color: #F1F1F1;
    height: 100%;
}

.EventsPanel
.action-bar {
    cursor: default;
}

.EventsPanel
.action-bar-button {
    color: white; /*#E8ABAB;*/
    cursor: pointer;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.EventsPanel
.action-bar-button:hover {
    color: #B02727;
}

.EventsPanel
input.action-bar-search {
    height: 100%;
    background-color: transparent;
    border-color: white;
    margin: 0;
    padding: 0;

    font-weight: 100;
    font-size: 16px;
}


.action-bar-search::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.7;
}
 

.action-bar-search:-moz-placeholder { /* Firefox 18- */
    color: white !important; 
    opacity: 0.7; 
}
 

.action-bar-search::-moz-placeholder {  /* Firefox 19+ */
    color: white !important; 
    opacity: 0.7; 
}
 

.action-bar-search:-ms-input-placeholder {  
    color: white !important; 
    opacity: 0.7; 
}

.EventsPanel
.event-item {
    font-size: 16px;
    cursor: pointer;

    border-color: #F1F1F1;
    background-color: white;
}

.EventsPanel .event-button {
    display: none;
}

.EventsPanel
.event-item:hover .event-button {
    display: block;
}

.EventsPanel
.event-item:hover {
    background-color: #FFF3F2;
}

.EventsPanel .info-button,
.EventsPanel .edit-button {
    font-size: 16px;
    color: #D25858;

    cursor: pointer;

    border-radius: 16px;
    line-height: 20px;

    margin-top: 3px;
}

.EventsPanel .info-button:hover,
.EventsPanel .edit-button:hover {
    color: white;
    background-color: #D25858; /*#6a3535;*/
}

.EventsPanel
.edit-button {
    margin-right: 5px;

    padding: 0px 2px;
    font-size: 14px;
}