
<div class="EventsPanel">

    <div class="list-header u-full-width">
        <span id="event-panel-title">
            <h4> {{ title }} </h4>
        </span>
        <span class="action-bar pull-right no-select">
            <i id="event-panel-search-button" class="action-bar-button fa fa-search fa-fw"></i>
            <i id="event-panel-filter-button" class="action-bar-button fa fa-filter fa-fw"></i>
            <i id="event-panel-sort-button" class="action-bar-button fa fa-sort-alpha-desc fa-fw"></i>
            <i id="event-panel-plus-button" class="action-bar-button fa fa-plus fa-fw"></i>
        </span>
    </div>
    <div id="events-panel-list" class="list-body u-full-width">
        <ul >
            <li class="event-item no-select" draggable="true" >
                <span class="list-item-text" ></span>
                <span class="info-button pull-right" >
                    <i class="fa fa-info fa-fw"></i>
                </span>
                <span class="edit-button pull-right" >
                    <i class="fa fa-pencil fa-fw"></i>
                </span>
            </li>
        </ul>
        
        <!-- <div id="events-shade" class="shade"></div>
        <create-event-panel class="drop-down"></create-event-panel> -->
    </div>

</div>