
<div class="EventsPanel">

    <div class="list-header u-full-width">
        <span id="event-panel-title">
            <h4> {{ title }} </h4>
        </span>
        <span class="action-bar pull-right no-select">
            <i id="event-panel-search-button" class="action-bar-button fa fa-search fa-fw"></i>
            <i id="event-panel-filter-button" class="action-bar-button fa fa-filter fa-fw"></i>
            <i id="event-panel-sort-button" class="action-bar-button fa fa-sort-alpha-desc fa-fw"></i>
            <i id="event-panel-plus-button" class="action-bar-button fa fa-plus fa-fw" @click="toggle_insert()"></i>
        </span>
    </div>
    <div id="events-panel-list" class="list-body u-full-width">
        <ul>
            <li v-for="event in display_events" class="event-item no-select" draggable="true">
                <span class="list-item-text"> {{ event.name }} </span>
                <span class="event-button info-button pull-right" >
                    <i class="fa fa-info fa-fw"></i>
                </span>
                <span class="event-button edit-button pull-right" >
                    <i class="fa fa-pencil fa-fw"></i>
                </span>
            </li>
        </ul>
        
        <div v-if="child_view">
            <div id="events-shade" class="shade"></div>
            <div class="drop-down">
                <component :is="child_view" :calendar="calendar" v-on:completed="handle_insert_completion"></component>
            </div>
        </div>
    </div>

</div>