<!-- TemplateName -->
<div class="InsertResourcePanel">
    <!-- Content -->
    <form class="main-form">
        <div id="insert-resource-panel-name-required" :class="{'required': !resource.name}">
            <input
                v-el:name
                id="insert-resource-panel-name"
                class="u-full-width"
                type="text"
                placeholder="name"
                v-model="resource.name"
                @keyup.esc="resource.name ? resource.name = '' : $emit('completed')">
        </div>
        <input
                id="insert-resource-submit"
                class="button-primary u-full-width"
                type="submit"
                value="Create"
                v-bind:disabled="!valid_resource"
                @keyup.enter.prevent="insert_resource(resource)"
                @click="insert_resource(resource)">
    </form>
</div>
